body {
  display: flex;
  align-items:center;
  flex-direction:column;
  justify-content: center;
}

#mainframe {
  background: salmon;
  height: 600px;
  width: 600px;
  position:relative;
}

#mainframe #pacman {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: yellow;
}
